main {
    width: 96%;
    height: 96%;
    padding: 2%;
    display: grid;
    grid-template-columns: 400px 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    justify-items: center;
    align-items: center;
}